﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VentasOnline", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <nav class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Registrar", "Index", "Registrar", new { area = "" }, null)</li>
                        <!-- ko if: usuarioLogeado() -->
                            <li>@Html.ActionLink("CarritoVenta", "Index", "CarritoVenta", new { area = "" }, null)</li>
                        <!-- /ko-->
                        <!-- ko if: !usuarioLogeado() -->
                            <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, null)</li>
                        <!-- /ko-->
                        <li>|</li>
                     </ul>
                    <!-- ko if: usuarioLogeado() -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-bind="text: usuarioLogeado().Nickname"><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Ver Historial de Compras</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" data-bind="click: CerrarSesion">Cerrar Sesion</a></li>
                                </ul>
                            </li>
                        </ul>
                    <!-- /ko-->
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
