﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts {
    @Scripts.Render("~/bundles/app")
}

<h1>Login</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Productos</h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="submit: Logear">
                        <div class="form-group" data-bind="with: usuarioLogear">
                            <label for="inputNickName" class="col-sm-2 control-label">NickName </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputNickName" placeholder="NickName" data-bind="value: NickName" />
                            </div>
                            <label for="inputPass" class="col-sm-2 control-label">Password </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPass" placeholder="Password" data-bind="value: Password" />
                            </div>
                            <button type="submit" class="btn btn-default">Logear:</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>