﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/app");
}

<h2>Carrito</h2>
     <div class="row" data-bind="foreach: productosCarrito">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><b data-bind="text: NombreProducto"></b></h2>
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="button" class="glyphicon glyphicon-remove" data-bind="click: $parent.getEliminarProductoCarrito"></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <b>Descripcion: </b><span data-bind="text: Descripcion"></span>
                </div>
                <div class="col-sm-12">
                    <b>Precio: </b><span data-bind="text: Precio"></span>
                </div>
                    <div class="col-sm-2 ">
                        <button id="btnDecrementar" class="glyphicon glyphicon-minus" data-bind="click: $parent.DecrementarCantidad" type="button"></button>
                    </div>
                <div class="col-sm-6 col-sm-offset-2">
                    <b>Cantidad: </b><span data-bind="text: Cantidad"></span>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="glyphicon glyphicon-plus" data-bind="click: $parent.IncrementarCantidad"></button>
                </div>
           </div>
        </div>
    </div>
</div>