﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/app")
}

<h2>Registrar Usuario</h2>
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Usuario</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: agregarUsuario">
                    <div class="form-group" data-bind="with: nuevoUsuario">
                        <label for="inputNombre" class="col-sm-2 control-label">Nombre </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" data-bind="value: Nombre" />
                            <br />
                        </div>

                        <label for="inputApellido" class="col-sm-2 control-label">Apellido </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="text" class="form-control" id="inputApellido" placeholder="Apellido" data-bind="value: Apellido" />
                            <br />
                        </div>

                        <label for="inputNickname" class="col-sm-2 control-label">NickName </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="text" class="form-control" id="inputNickname" placeholder="NickName" data-bind="value: Nickname" />
                            <br />
                        </div>

                        <label for="inputPass" class="col-sm-2 control-label">Password </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="password" class="form-control" id="inputPass" placeholder="Password" data-bind="value: Pass" />
                            <br />
                        </div>
                        
                        <label for="inputTelefono" class="col-sm-2 control-label">Telefono </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="number" min="0" size="8" class="form-control" id="inputTelefono" placeholder="Telefono" data-bind="value: Telefono" />
                            <br />
                        </div>

                        <label for="inputDirreccion" class="col-sm-2 control-label">Direccion </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="text" class="form-control" id="inputDirreccion" placeholder="Direccion" data-bind="value: Dirreccion" />
                            <br />
                        </div>

                        <label for="inputCorreo" class="col-sm-2 control-label">Correo </label>
                        <div class="col-sm-8 col-sm-offset-1">
                            <input type="email" class="form-control" id="inputCorreo" placeholder="Correo" data-bind="value: Correo" />
                            <br />
                        </div>
                            <button type="submit" class="btn btn-default">Registrar</button>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>
