﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Lista de Productos</h1>
</div>

<div class="row">
    <!-- ko if:usuarioLogeado() -->
     <strong>  Bienvenido: </strong><h1 data-bind="text: usuarioLogeado().Nickname"></h1>
    <!-- /ko-->
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Productos</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: productos">
                    <li>
                        <strong><span data-bind="text: NombreProducto"></span></strong>: <span data-bind="text: Precio"></span>
                        <small><a href="#" data-bind="click: $parent.getDetalleProducto">Detalle</a></small>
                        <small><a href="#" data-bind="click: $parent.getEliminarProducto">Eliminar</a></small>
                        <small><a href="#" data-bind="click: $parent.getEditarProducto">Editar</a></small>
                        <small><a href="#" data-bind="click: $parent.agregarProductoCarrito">+ Carrito</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detalleProducto() -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detalles del Producto</h2>
            </div>
            <table class="table">
                <tr><td><strong>Nombre</strong></td><td data-bind="text: detalleProducto().NombreProducto"></td></tr>
                <tr><td>Descripcion</td><td data-bind="text: detalleProducto().Descripcion"></td></tr>
                <tr><td>Precio</td><td data-bind="text: detalleProducto().Precio"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Productos</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: agregarProducto">
                    <div class="form-group" data-bind="with: nuevoProducto">
                        <label for="inputNombreP" class="col-sm-2 control-label">Nombre </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNombreP" placeholder="Nombre" data-bind="value: NombreProducto" />
                        </div>

                        <label for="inputDescripcionP" class="col-sm-2 control-label">Descripcion </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputDescripcionP" placeholder="Descripcion" data-bind="value: Descripcion" />
                        </div>

                        <label for="inputPrecioP" class="col-sm-2 control-label">Precio </label>
                        <div class="col-sm-10">
                            <input type="number" step="any" min="0" class="form-control" id="inputPrecioP" placeholder="Precio" data-bind="value: Precio" />
                        </div>

                        <label for="inputFotoP" class="col-sm-2 control-label">Foto </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFotoP" placeholder="Foto" data-bind="value: Foto" />
                        </div>

                        <button type="submit" class="btn btn-default">Agregar Producto</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ko if:editarProducto() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Productos</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: productoEditar">
                    <label for="inputNombreP" class="col-sm-2 control-label">Nombre </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputNombreP" placeholder="Nombre" data-bind="value: editarProductoSeleccionado.NombreProducto, textinput: editarProducto().NombreProducto" />
                    </div>

                    <label for="inputDescripcionP" class="col-sm-2 control-label">Descripcion </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescripcionP" placeholder="Descripcion" data-bind="value: editarProductoSeleccionado.Descripcion, textinput: editarProducto().Descripcion" />
                    </div>

                    <label for="inputPrecioP" class="col-sm-2 control-label">Precio </label>
                    <div class="col-sm-10">
                        <input type="number" step="any" min="0" class="form-control" id="inputPrecioP" placeholder="Precio" data-bind="value: editarProductoSeleccionado.Precio,  textinput: editarProducto().Precio" />
                    </div>

                    <label for="inputFotoP" class="col-sm-2 control-label">Foto </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputFotoP" placeholder="Foto" data-bind="value: editarProductoSeleccionado.Foto ,  textinput: editarProducto().Foto" />
                    </div>

                    <button type="submit" class="btn btn-default">Editar Producto</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /ko -->
    

    

</div>